<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Payroll_Management_System1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.controller.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionCheck</display-name>
    <servlet-name>ActionCheck</servlet-name>
    <servlet-class>com.controller.ActionCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionCheck</servlet-name>
    <url-pattern>/ActionCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>com.controller.Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calculate</display-name>
    <servlet-name>calculate</servlet-name>
    <servlet-class>com.controller.calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/calculate</url-pattern>
  </servlet-mapping>
</web-app>